---
title: Guides
permalink: /changelogs/
layout: docs
category: ignore
breadcrumb: Changelogs
---

<h2 class="docs-heading">
  <span class="docs-title-icon fa fa-book"></span>Changelogs
</h2>


<ul class="docs-list">
{% for doc in site.docs reversed %}
  {% if doc.category == 'Changelogs' %}
    <li>
      <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
      <!-- <span class="excerpt">{{ doc.content | strip_html | truncatewords: 50 }}</span> -->
    </li>
  {% endif %}
{% endfor %}
</ul>
