---
permalink: /
excerpt: Unofficial Pokemon GO API documentation.
layout: default
---

{% assign enums = site.data.api_latest.enums %}
{% assign messages = site.data.api_latest.messages %}

<div class='page-header'>
  <div class='container-narrow'>
    <h1>{{ site.title }}</h1>
    <p class="lead">
      Check out the <a href="https://faq.pogodev.org/">FAQ</a>.
    </p>
  </div>
</div>

<section class='page-section'>
  <div class='container'>

    <div class="guides">
      <h2 class="docs-heading">
        <a class="docs-title" href="{{ site.baseurl }}/guides/">
          <span class="docs-title-icon fa fa-book"></span>Guides
        </a>
      </h2>
      <ul class="docs-list">
      {% for doc in site.docs %}
        {% if doc.category == 'Guides' %}
          <li>
            <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
            <!-- <span class="excerpt">{{ doc.content | strip_html | truncatewords: 50 }}</span> -->
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>

    <div class="apis">
      <h2 class="docs-heading">
        <a class="docs-title" href="{{ site.baseurl }}/api/">
          <span class="docs-title-icon fa fa-gear"></span>API Reference
        </a>
      </h2>
      <h3>Enums</h3>
      <ul class="docs-list">

        {% for enum in enums %}
          <li>
            <a href="{{ site.baseurl }}/api/enums/{{ enum.name }}">{{ enum.name }}</a>
          </li>
        {% endfor %}
      </ul>
      <h3>Messages</h3>
      <ul class="docs-list">
        {% for message in messages %}
          <li>
            <a href="{{ site.baseurl }}/api/messages/{{ message.name }}">{{ message.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="changelog">
      <h2 class="docs-heading">
        <a class="docs-title" href="{{ site.baseurl }}/changelogs/">
          <span class="docs-title-icon fa fa-history"></span>Changelogs
        </a>
      </h2>
      <ul class="docs-list">
      {% for doc in site.docs reversed %}
        {% if doc.category == 'Changelogs' %}
          <li>
            <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
            <!-- <span class="excerpt">{{ doc.content | strip_html | truncatewords: 50 }}</span> -->
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>
