.doc-meta {
  text-align: left;
}

.guides, .apis, .changelog {
  @include span-columns(4);
  @media screen and (max-width: $small-screen) {
    @include span-columns(12);
  }
}

.docs-heading {
  border-bottom: 1px solid #eee;
  padding-bottom: golden-ratio($base-font-size, -1);
  margin-bottom: golden-ratio($base-font-size, -1);
}

.docs-title {
  color: inherit;
}

.docs-title-icon {
  padding-right: golden-ratio($base-font-size, -1);
}

.docs-list {
  padding-left: 0;
  list-style: none
}

.docs {
  h1 { margin-bottom: 1rem; }
  h2, h3, h4, h5, h6 { margin: 1rem 0; }
}
