// Header
 .site-header {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: $header-font-size;
  color: $header-color;
  background-color: $header-bg-color;
  border-bottom: 1px solid darken($header-bg-color, 8%);
  padding: golden-ratio($header-font-size, -1);

  a { color: inherit; font-weight: bold; }

  a.active,
  a:hover {
    text-decoration: none;
    color: $header-color-strong;
  }

  a:active { color: $header-color-subtle; }
}

.site-header-logo {
  float: left;
}

.site-header-nav {
  float: right;
  line-height: golden-ratio($header-font-size, 2);
}

.site-header-icon {
  width: golden-ratio($header-font-size, 2);
  height: golden-ratio($header-font-size, 2);
  vertical-align: middle;
  margin-right: golden-ratio($header-font-size, -2);
}

.svg-fill {
  fill: currentColor;
}

.site-header-title {
  vertical-align: middle;
}

.site-header-nav-item {
  display: inline-block;
}

.site-header-nav-item+.site-header-nav-item {
    margin-left: golden-ratio($header-font-size, 1);
}

.site-header-nav-icon {
  font-size: golden-ratio($header-font-size, 2);;
  vertical-align: middle !important;
}

// Grids
.container {
  @include outer-container(golden-ratio($base-font-size, 9));
}

.container-narrow {
  @include outer-container(golden-ratio($base-font-size, 8));
}

// Footer

.footer {
  margin-top: auto;
  background-color: $page-header-bg-color;
  border-top: 1px solid darken($page-header-bg-color, 8%);

  position: relative;
  font-size: 13px;
  padding: golden-ratio($base-font-size, 1);
  text-align: center;

  a {
    color: #7c9398;
  }

  a:hover {
    color: #3a585f;
    text-decoration: underline;
  }
}

.footer-nav {
  float: left;
}

.footer-nav-item+.footer-nav-item {
  margin-left: golden-ratio(13px, 1);
}

.footer-love {
  float: right;
}
